.manager-container {
  display: flex;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #525253;
  color: white;
  padding: 20px;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #1e293b;
}

.logout-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: red;
  color: white;
  border: none;
}

.main-content {
  flex: 1;
  padding: 20px;
  background: #e1f0ff;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.employee-table th {
  background: #454c5b;
  color: white;
  padding: 10px;
}

.employee-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
